################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


/Algorithm_Solution/.vs/Algorithm_Solution/v15/Server/sqlite3/storage.ide-wal
/Algorithm_Solution/.vs/Algorithm_Solution/v15/Server/sqlite3/storage.ide-shm
/Algorithm_Solution/.vs/Algorithm_Solution/v15/Server/sqlite3/storage.ide
/Algorithm_Solution/.vs/Algorithm_Solution/v15/Server/sqlite3/db.lock
/Algorithm_Solution/.vs/Algorithm_Solution/v15/.suo

/Algorithm_Solution/.vs/MyLeetCode/v15/Server/sqlite3/storage.ide-wal
/Algorithm_Solution/.vs/MyLeetCode/v15/Server/sqlite3/storage.ide-shm
/Algorithm_Solution/.vs/MyLeetCode/v15/Server/sqlite3/storage.ide
/Algorithm_Solution/.vs/MyLeetCode/v15/Server/sqlite3/db.lock
/Algorithm_Solution/.vs/MyLeetCode/v15/.suo

obj
bin
